.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  border: 1px solid #17bf9d44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}

@media (max-width: 1399px) {
  .hero__img {
    width: 40rem;
    height: 30rem;
  }
}
@media (max-width: 1199px) {
  .hero__img {
    width: 38rem;
    height: 28rem;
  }
}
@media (max-width: 991px) {
  .hero__img {
    width: 35rem;
    height: 25rem;
  }
}
@media (max-width: 767px) {
  .hero__img {
    width: 32rem;
    height: 22rem;
  }
}
@media (max-width: 575px) {
  .hero__img {
    width: 29rem;
    height: 19rem;
  }
}

@media (max-width: 541px) {
  .hero__img {
    width: 25rem;
    height: 15rem;
  }
}
@media (max-width: 340px) {
  .hero__img {
    width: 22rem;
    height: 12rem;
  }
}
